/* position: absolute的元素會脫離頁面中的普通流並改變Display屬性（重點）！ */
/* font-family: kozuka-mincho-pro, serif;  *::before,*::after 會影響awesome圖形輸出 */
@font-face {
    font-family: kozuka-mincho-pro;
    src: url('../webfonts/KozMinPro-Medium.otf');
}
@font-face {
    font-family: miller-banner;
    src: url('../webfonts/Miller-DisplayItalic.otf');
}
/* ---------btnaniset---------- */
/* 利用delay延遲製作邊線呈現方式 */
.myboxani {
    position: relative;
    width: 200px;
    height: 50px;
    line-height: 50px;
    border: 1px solid #23234B;
    background-color: white;
    transition: 0.5s;
    text-align: center;
    letter-spacing: 2px;
    font-family: miller-banner, serif;
    font-weight: lighter;
    margin: 0 auto;
    display: block;
}

.myboxani::after {
    background-color: #23234B;
    content: '';
    position: absolute;
    transition: all 0.1s;
    transition-delay: 0.1s;
    top: 6px;
    right: -6px;
    height: 100%;
    width: 1px;
}

.myboxani::before {
    background-color: #23234B;
    content: '';
    position: absolute;
    transition: all 0.1s;
    transition-delay: 0.2s;
    bottom: -6px;
    height: 1px;
    right: -6px;
    width: 100%;
}

.myboxani:hover::before {
    width: 0;
    transition-delay: 0.2s;
}

.myboxani:hover::after {
    height: 0;
    transition-delay: 0.3s;
}
/* ------------------- */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
nav{
    width: 100%;
    height: 80px;
    background-color: rgb(255, 255, 255);
    font-size: 1.2rem;
    letter-spacing: 3px;
    padding-left: 20px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
}
#navBg{
    width: 180px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.navFont{
    text-align: center;
    font-size: 14px;
    line-height: 80px;
    font-family: kozuka-mincho-pro, serif;
    margin-left: 30px;
}
#burger{
    width: 5%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
#burger.on_off .burgerLine:nth-of-type(1){
    transform-origin: left;
    transform: rotate(45deg);
    width: 70%;
    margin-left: 20px;
}
#burger.on_off .burgerLine:nth-of-type(2){
    transform: translate(150%);
    width: 70%;
}
#burger.on_off .burgerLine:nth-of-type(3){
    transform-origin: left;
    transform: rotate(-45deg);
    width: 70%;
    margin-left: 20px;
}
.burgerLine{
    display: block;
    width: 50px;
    height: 2px;
    background-color: black;
    margin: 8px 0;
    transition: 0.5s;
}
.burgerLine_cover{
    width: 40px;
    overflow: hidden;
}

#sec1{
    width: 100%;
    height: calc(100vh - 80px);
    background-color: white;
    margin-top: 80px;
}

.sec1Left_fixed,.sec1Right_fixed{
    width: 5%;
    height: 100%;
    background-color: transparent;
    z-index: 99;
}
.sec1Left_fixed{
    position: fixed;
    top: 80px;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sec1Right_fixed{
    position: fixed;
    top: 80px;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sec1Center{
    width: 90%;
    height: 93%;
    margin: 0 auto;
    background-color: rgb(226, 223, 175);
    position: relative;
}

/* 點選slider顯示範圍時 不會有邊線出現 */
.slick-slider{
    touch-action:none
}
.slick-prev,.slick-next{
    display: none !important;
}
.autoplay,.slick-list,.slick-track{
    width: 100%;
    height: 100%;
}
.sec1Slider_imgset{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.sec1Slider_imgset:nth-of-type(1){background-image: url('../05_img/top_slide01.jpg');}
.sec1Slider_imgset:nth-of-type(2){background-image: url('../05_img/top_slide02.jpg');}
.sec1Slider_imgset:nth-of-type(3){background-image: url('../05_img/top_slide03.jpg');}
.sec1Slider_imgset:nth-of-type(4){background-image: url('../05_img/top_slide04.jpg');}
.sec1Slider_imgset:nth-of-type(5){background-image: url('../05_img/top_slide05.jpg');}

.sliderdot{
    width: 100%;
    list-style-type: none;
    display: block;
    position: absolute;
    bottom: 30px;
    display: flex;
    justify-content: center;
}
.sliderdot_btnset{
    width: 15px;
    height: 15px;
    margin: 0 10px;
    border-radius: 50%;
    border: none;
}
.sec1Left_fixed > .follow_us{
    writing-mode: vertical-lr;
    letter-spacing: 2px;
    font-size: 1.2rem;
    margin-bottom: 30px;
    transform: translateY(-40px);
}
.iconMarrign{
    margin: 20px 0;
    transform: translateY(-40px);
}
.sec1Right_fixed_fontset{
    writing-mode: vertical-lr;
    letter-spacing: 3px;
    font-size: 1rem;
    border-bottom: 1px solid black;
    margin: 10px 0;
    padding: 20px 0;
    transform: translateY(-40px);
}
#sec1Center_font{
    width: 28.5vw;
    position: absolute;
    right: 0;
    bottom: 15%;
}
#sec1Center_font > p{
    font-size: 14px;
    letter-spacing: 3px;
    line-height: 1.8rem;
    margin-bottom: 30px;
}
#sec1Center_font > h2{
    font-size: 2rem;
    -moz-font-smooth: always;
    margin-bottom: 20px;
    font-weight: 100;
    line-height: 1.5;
    letter-spacing: 8px;
    opacity: 0.8;
}
#sec1Center_font > span{
    font-size: 12px;
    font-family: miller-banner, serif;
    letter-spacing: 5px;
}

/* -------sec2--------- */

#sec2{
    width: 100%;
    height: 700px;
    background-color: white;
    overflow: hidden;
}
.movie{
    position: relative;
}
#sec2 video{
    width: 100%;
}
.play_logo{
    width: 120px;
    position: absolute;
    top: 37%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.movieShow{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}
.movieShow_cover{
    width: 70%;
    height: 80%;
}

/* --------------sec3--------------- */
#sec3{
    width: 90%;
    margin: 0 auto;
    background-color: white;
    padding-top: 80px;
    overflow: hidden;
}
#font_attr{
    text-align: center;
    position: relative;
    letter-spacing: 1px;
    font-size: 14px;
    font-family: miller-banner, serif;
    font-style: italic;
    font-weight: lighter;
    line-height: 2.1;
    margin-bottom: 450px;
}
#info_attr{
    text-align: center;
    position: relative;
    letter-spacing: 3px;
    font-size: 3.5rem;
    font-family:  miller-banner, serif;
    font-style: italic;
    font-weight: lighter;
    margin-bottom: 30px;
}

#sec3 > p{
    text-align: center;
    margin-bottom: 100px;
}
.sec3_bigimg{
    width: 100%;
    height: 500px;
    margin-bottom: 60px;
    position: relative;
    transition: 1s;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* -------此處有雷nth-of-type(1)nth-of-type(2)失效------- */
/* .sec3_bigimg連同層div標籤也會算入 */
/* 可能的原因 sec3_bigimg為div標籤的關係 */
.sec3_bigimg:nth-of-type(3){
    background-image: url('../05_img/sec3_img1.jpg');
}
.sec3_bigimg:nth-of-type(4){
    background-image: url('../05_img/sec3_img2.jpg');
}
/* ------------------------------------------------- --- */
.sec3_bigimg_font{
    width: 25%;
    height: 300px;
    position: absolute;
    top: 16%;
    left: 20%;
    text-align: center;
    font-size: 4rem;
    font-family: kozuka-mincho-pro,serif;
    letter-spacing: 12px;
    line-height: 1.1;
    font-weight:normal;
    color: #23234B;
}
.sec3_bigimg_font > p:nth-child(1){
    margin-bottom: 60px;
}
.sec3_bigimg_font > p:nth-child(2){
    position: relative;
    font-size: 2.2rem;
}
.sec3_bigimg_font > p:nth-child(2)::before{
    content: 'view more';
    display: block;
    border-bottom:1px solid black ;
    position: absolute;
    top: 140px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1rem;
    letter-spacing: 5px;
}
.sec3_bigimg:hover{
    transform:scale(1.05);
}

.sec3_smellimg{
    display: block;
    height: 150px;
    width: 55%;
    margin: 0 auto;
    overflow: hidden;
}
.sec3_smellimg > img{
    width: 100%;
    transition: 1s;
}
.sec3_smellimg:hover img{
    transform:scale(1.05);
}
/* ---------------sec4----------------- */
#sec4{
    width: 90%;
    height: 500px;
    margin: 0 auto;
    padding-top: 150px;
    background-color: white;
    position: relative;
    overflow: hidden;
}
.sec4_container{
    width: 100%;
}
.sec4_container  > .slick-list{
    padding: 0 !important;
}
.sec4_img{
    width: calc(100% / 3);
}
.sec4_img > img{
    width: 100%;
}
.sec4_sliderdot{
    width: 100%;
    list-style-type: none;
    display: block;
    position: absolute;
    bottom: 30px;
    display: flex;
    justify-content: center;
}
.sec4_sliderdot_btnset{
    width: 15px;
    height: 15px;
    margin: 0 10px;
    border-radius: 50%;
    border: none;
}

/* -------------sec5-------------- */
#sec5{
    width: 100%;
    background-color: rgb(255, 255, 255);
    padding-top: 300px;
}
#sec5 > p{
    text-align: center;
    margin-bottom: 100px;
}
.sec5_con1,.sec5_con2{
    width: 100%;
    height: 500px;
    background-color: tomato;
    margin-bottom: 100px;
    display: flex;
}
.sec5_con2{
    margin-bottom: 0;
}
.sec5_con1_left,.sec5_con2_right{
    width: 55%;
    height: 100%;
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.sec5_con1_right,.sec5_con2_left{
    width: 45%;
    height: 100%;
    background-color: white;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sec5_con1_left{
    background-image: url('../05_img/sec5_01.jpg');
}
.sec5_con2_right{
    background-image: url('../05_img/sec5_02.jpg');
}
.sec5_img{
    width: 45%;
    margin: 0 auto 50px auto;
}
.sec5_p{
    text-align: center;
    font-size: 0.8vw;
    line-height: 2.5;
    letter-spacing: 2px;
    margin: 0 auto 50px auto;
}
.sec5_btn{
    width: 40%;
}


/* ---------------sec6---------------- */
#sec6{
    width: 100%;
    background-color: rgb(255, 255, 255);
    padding-top: 300px;
}
#oth_attr{
    text-align: center;
    position: relative;
    letter-spacing: 3px;
    font-size: 3.5rem;
    font-family:  miller-banner, serif;
    font-style: italic;
    font-weight: lighter;
    margin-bottom: 30px;
}
#sec6 > p{
    text-align: center;
    margin-bottom: 100px;
}
.sec6_con{
    width: 100%;
    height: 500px;
    display: flex;
}
#sec6_con1,#sec6_con2,#sec6_con3{
    width: calc(100% / 3);
    height: 100%;
    background-color: white;
}
#sec6_con2{
    margin: 0 3px;
    background-image: url('../05_img/sec6_03.jpg');
}
.sec6_conset{
    width: 100%;
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.sec6_conset::before{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(157, 180, 213, 0.3);
    transition: 0.5s;
}

.sec6_conset:hover:before{
    background-color: rgba(141, 169, 207, 0.7);
}
#sec6_con1_top{background-image: url('../05_img/sec6_01.jpg');}
#sec6_con1_bottom{background-image: url('../05_img/sec6_02.jpg');}
#sec6_con3_top{background-image: url('../05_img/sec6_04.jpg');}
#sec6_con3_bottom{background-image: url('../05_img/sec6_05.jpg');}
#sec6_con1_top,#sec6_con3_top{
    margin-bottom: 3px;
}
/* --------------sec7---------------- */
#sec7{
    width: 100%;
    /* height: 100vh; */
    background-color: white;
    padding: 300px 0 100px 0;
}
.sec7_con{
    width: 70%;
    height: 100%;
    margin: 0 auto 100px auto;
    background-color: white;
    display: flex;
}
.sec7_con_left{
    width: 25%;
    height: 100%;
    background-color: white;
}
.sec7_con_left > p{
    text-align: center;
}
#news_attr{
    text-align: center;
    position: relative;
    letter-spacing: 3px;
    font-size: 3.5rem;
    font-family:  miller-banner, serif;
    font-style: italic;
    font-weight: lighter;
    margin-bottom: 30px;
}
.sec7_con_right{
    width: 75%;
    height: 100%;
    background-color: white
}
.sec7_con_rightFont{
    list-style-type: none;
}
.sec7_con_rightFontset{
    margin-bottom: 20px;
    padding: 20px;
    border-bottom: 1px solid black;
    font-family:  miller-banner, serif;
}
.sec7_con_rightFontset > time{
    display: block;
    margin-bottom: 8px;
    letter-spacing: 2px;
}
.sec7_con_rightFontset > p{
    opacity: 0.5;
}
.sec7_con_rightFontset:nth-of-type(1){
    margin-left: 40%;
}
.sec7_con_rightFontset:nth-of-type(2){
    margin-left: 32%;
}
.sec7_con_rightFontset:nth-of-type(3){
    margin-left: 24%;
}
.sec7_con_rightFontset:nth-of-type(4){
    margin-left: 16%;
}
.sec7_con_rightFontset:nth-of-type(5){
    margin-left: 8%;
}
.sec7_btn{
    width: 300px;
}
/* ---------------fot----------------- */
#fot{
    width: 100%;
    padding-top: 200px;
    background-color: white;
}
.footer_top{
    width: 100%;
    margin-bottom: 200px;
}
.footer_bottom{
    width: 100%;
    height: 1760px;
    background-image: url('../05_img/footerbg.jpg');
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;
}
.dep_attr{
    text-align: center;
    position: relative;
    letter-spacing: 3px;
    font-size: 3.5rem;
    font-family:  miller-banner, serif;
    font-style: italic;
    font-weight: lighter;
    margin-bottom: 30px;
}
.footer_top > p{
    text-align: center;
    margin-bottom: 100px;
}
.footer_bottom{
    display: flex;
    justify-content: center;
}
.footer_ul{
    width: 50%;
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.footer_ul > li{
    width: calc(100% / 3);
    margin: 0 30px;
    text-align: center;
}
.footer_ul > li > div{
    text-align: center;
}
.footer_ul > li > img{
    width: 100%;
    border-radius: 50%;
    margin-bottom: 30px;
}
.footer_ul > li > div > h3{
    margin: 10px 0;
    font-weight: normal;
    font-size: 1.2rem;
    opacity: 0.6;
}
.footer_ul > li > div > p{
    font-family: kozuka-mincho-pro;
    font-size: 1rem;
    opacity: 0.6;
}