@media screen and (max-width: 1280px) {
    .navOpen_left > #burger_in{
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .navOpen_left{
        width: 100%;
        padding: 50px 100px 0 100px;
    }
    .navOpen_left_top {
        height: 150px;
    }
    .navOpen_leftBottom_left > div {
        position: static;
    }
    .navOpen_right > #burger_in{
        display: none;
    }
    .navOpen_right{
        display: none;
    }
    .burgerLine{
        margin:8px 4px;
    }
    #sec1Center_font {
        right: 62%;
        bottom: 10%;
    }
    #sec1Center_font > h2{
        font-size: 2.5vw;
    }
    .navOpen_leftBottom_left > ul > li {
        font-size: 1.4vw;
        margin: 35px 0;
    }
    .navOpen_leftBottom_right > ul > li {
        font-size: 1.2vw;
    }
    .play_logo {
        top: 50%;
    }
    .sec3_bigimg_font {
        left: 15%;
    }
    .sec4_font {
        font-size: 3vw;
        line-height: 1.2;
        top: 10%;
    }
    #sec4_font {
        font-size: 3vw;
    }
    .sec5_p{
        font-size: 1.4vw;
        padding: 0 35px;
    }
    .sec5_con1, .sec5_con2{
        flex-direction: column;
        height: 1000px;
    }
    .sec5_con1_right, .sec5_con2_left{
        width: 100%;
        padding-top: 0px;
    }
    .sec5_con1_left, .sec5_con2_right{
        width: 90%;
        margin: 0 auto;
    }
    .sec5_con2 > .sec5_con2_left{
        order: 1;
    }
    .sec6_conset > div {
        position: absolute;
        padding: 30px 40px;
    }
    .sec6_conset > div > p {
        font-size: 3vw;
        color: rgb(0, 0, 0);
    }
    .sec6_conset > div > ruby {
        font-size: 2.2vw;
        color: rgb(0, 0, 0);
    }
    #sec6 {
        width: 75%;
        margin: auto;
    }
    .sec6_con {
        height: 1200px;
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }
    #sec6_con1,#sec6_con3{
        width: 100%;
    }
    #sec6_con2{
        width: 50%;
        height: 50%;
    }
    #sec6_con2{
        margin: 0;
    }
    .sec6_conset{
        width: 50%;
    }
    #sec6_con1_bottom {
        margin-left: auto;
    }
    #sec6_con3_top{
        margin-left: auto;
    }
    #sec6_con1_top, #sec6_con3_top {
        margin-bottom: 0px;
    }
    .sec6_conset:nth-child(1) > div {
        right: -100%;
    }
    .sec6_conset:nth-child(2) > div {
        left: -100%;
    }
    #sec6_con2 > div {
        right: -70%;
    }
    #sec6_con3 > .sec6_conset:nth-child(1) > div{
        right: 0;
        left: -75%;
    }
    #sec6_con3 > .sec6_conset:nth-child(2) > div{
        left: 100%;
    }
    .sec7_con {
        width: 80%;
        flex-direction: column;
    }
    .sec7_con_left{
        width: 100%;
        margin-bottom: 100px;
    }
    .sec7_con_right {
        width: 75%;
        margin: 0 auto;
    }
    .sec7_con_rightFontset:hover{
        background-color: rgba(255, 235, 205, 0.2);
        transform: scale(1.05) !important;
    }
    .sec7_con_rightFontset:nth-of-type(1),
    .sec7_con_rightFontset:nth-of-type(2),
    .sec7_con_rightFontset:nth-of-type(3),
    .sec7_con_rightFontset:nth-of-type(4),
    .sec7_con_rightFontset:nth-of-type(5){
        margin-left: 0;
    }
    .footer_ul {
        width: 70%;
    }
}

@media screen and (max-width: 920px){
    #sec1 {
        height: 800px;
    }
    .sec1Center {
        height: 90%;
    }
    .navFont{
        display: none;
    }
    nav{
        display: block;
        padding: 0 20px;
    }
    #burger{
        float: right;
        overflow: unset;
    }
    .sec1Left_fixed,.sec1Right_fixed{
        display: none;
    }
    .sec3_bigimg {
        height: 300px;
    }
    .sec3_bigimg_font {
        font-size: 2.5rem;
        letter-spacing: 12px;
        line-height: 1.1;
    }
    .sec3_bigimg_font > p:nth-child(1) {
        margin-bottom: 30px;
    }
    .sec3_bigimg_font > p:nth-child(2)::before {
        top: 80px;
    }
    .sec4_font {
        font-size: 4vw;
    }
    #sec4_font {
        font-size: 4vw;
    }
    .sec5_con1,.sec5_con2 {
        height: 800px;
    }
    .sec6_conset {
        width: 100%;
        margin-bottom: 20px !important;
    }
    #sec6_con1{
        margin-bottom: 20px;
        overflow: hidden;
    }
    #sec6_con2 {
        width: 100%;
        margin-bottom: 20px;
    }
    #sec6_con3 {
        display: flex;
        flex-direction: column;
    }
    #sec6_con3_top {
        order: 1;
    }
    .sec6_conset:nth-child(1) > div {
        right: 0;
        font-size: 3vw;
    }
    .sec6_conset:nth-child(2) > div {
        left: 0;
        bottom: 10px;
    }
    .sec6_conset > div > p {
        font-size: 4vw;
    }
    .sec6_conset > div > ruby {
        font-size: 2vw;
    }
    #sec6_con2 > div {
        right: 0;
    }
    #sec6_con3 > .sec6_conset:nth-child(1) > div {
        right: unset;
        left: 55%;
    }
    #sec6_con3 > .sec6_conset:nth-child(2) > div {
        left: 0;
        right: 0;
    }
    .sec7_con {
        width: 100%;
    }
    #sec7 {
        padding: 100px 0 100px 0;
    }
    .footer_ul {
        width: 70%;
    }
}